/* ⬇️boilerplate/misc⬇️ */
* {
  box-sizing: border-box;
}

body,
html {
  overflow: auto;
  margin: auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
}

.container0 {
  width: 1280px!important;
  padding-left: 6rem !important;
  padding-right: 6rem !important;
  margin:auto;
}

.card-cont {
  padding: 1rem 2rem;
  border: 1px solid black;
  border-radius: 10px;
  margin: 1rem 0;
  padding: 1rem 2rem;
    background-color: #ffffff95!important;
    -webkit-backdrop-filter: blur(9.5px) brightness(1)!important;
    backdrop-filter: blur(9.5px) brightness(1)!important;
}

.col-md-6 {
  height: 100vh;
  /* Make each column occupy the full viewport height */
}

.overflow-auto {
  overflow-y: auto;
  /* Enable vertical scrolling if content overflows */
  height: 100%;
  /* Make it fill its parent's height */
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

.header-text {
    font-family: 'Arial', sans-serif;
    font-weight: medium;
    color: #ffffff;
    background-color: #000000;  /* Highlight Color */
    padding: 5px 10px;  /* Adjusts the size of the highlight */
    border-radius: 3px;  /* Rounds the edges of the highlight */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);  /* Optional: Adds a subtle shadow */
}

.grow-on-hover {
  transition: transform 0.3s;  /* smooth transition */
}

.grow-on-hover:hover {
  transform: scale(1.1);  /* grow the element to 110% of its original size */
}

.button {
  
  border-bottom: 4px solid blue;
}

a {
  text-decoration: none!important;
}

.container1 {
  padding:6rem 0!important;
}